<div class="race">
	<% fields_for "races[]", race_fields do |f| %>
		<%= render "races/fields", :object => race_fields, :f => f %>
	<% end %>
	<p class="clear_both">
		<%= link_to_function t("common.remove"), "this.up('.race').remove()" %>
	</p>
</div>