<div class="races fields">
	<%= render "races/fields", :f => f %>
	<p class="clear_both">
		<%= f.hidden_field :_destroy, :class => "destroy" %>
		<%= link_to t("common.remove"), nil, :class => "remove_race_fields" %>
	</p>
</div>