<% title t("trainings.new.new_training") %>
<% main_class "large_width" %>

<% javascript "load_all_tracks" %>

<h1><%= t("trainings.new.new_training") %></h1>

<%= render 'form', :submit => t("common.create") %>