<div class="fields">
	<%= f.text_area :content, :rows => 4 %>
	<p class="clear_both">
		<%= f.hidden_field :_destroy %>
		<%= link_to t("common.remove"), nil, :class => "remove_fields" %>
	</p>
</div>