<% title "#{t("common.edit")} #{@track.title}" %>

<% content_for :head do %>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	
	<script type="text/javascript" charset="utf-8">
	$(function() {
		<% if  true %>
			<% @track.tracksegments.last.points.each do |point| %>
				Map.points.push(new google.maps.LatLng(<%= point.latitude %>, <%= point.longitude %>));
			<% end %>
		<% end %>
		
		Map.set_options({click_listener: true});
		
		Map.display();
	});
		
	</script>
<% end %>

<div class="tracks_edit">
	<%= render :partial => 'form', :locals => {:submit => t("common.edit")} %>

	<%= loading_div %>
</div>