<% content_tag :div, :class => "comments_container left clear_both" do %>
	<%= content_tag(:h3, t("comments.comments")) %>
	
	<% div_for(commentable, "comments", :class => "comments") do %>
		<% unless commentable.comments.approved.blank? %>
			<%= render :partial => "comments/comment", :collection => commentable.comments.approved %>
		<% else %>
			<%= content_tag(:p, t("comments.no_comments")) %>
		<% end %>
	<% end %>
	<% if permitted_to? :create, Comment.new %>
		<div class="comment_link left clear_left">
			<%= link_to t("comments.post_comment"), url, :class => "new_comment submit_comment", :rel => "popup" %>
		</div>
	<% end %>
	
<% end %>