<% content_tag :div, :class => "edit_comment_box" do %>
	<% form_for comment, :html => {:class => "comment"} do |f| %>
		<%= f.error_messages %>

		<%= f.text_area :content, :rows => 5, :cols => 35, :tabindex => 1 %>
	
		<p><%= f.submit t("common.edit"), :class => "edit_comment" %> <%= link_to t("common.cancel"), "#", :class => "popup-close" %></p>
	<% end %>
<% end %>
