<% content_tag :div, :class => "new_comment_box" do %>
	<% form_for [commentable, Comment.new] do |f| %>
		<%= f.error_messages %>
			
		<%= f.text_area :content, :rows => 5, :cols => 35, :tabindex => 1 %>
	
		<p><%= f.submit t("common.create"), :class => "new_comment" %> <%= link_to t("common.cancel"), "#", :class => "MB_close" %></p>
	<% end %>
<% end %>
