<% title t("race_tracks.new.new_race_track")%>
<% main_class "large_width" %>

<h1><%= t("race_tracks.new.new_race_track") %></h1>

<%= render :partial => 'form', :locals => {:submit => t("common.create")} %>

