<div class="fields hidden">
	<%= render "races/fields", :f => f %>
	<p class="clear_both">
		<%= f.hidden_field :_destroy %>
		<%= link_to t("common.remove"), nil, :class => "remove_fields" %>
	</p>
</div>