/* COLORS
	http://www.colourlovers.com/palette/144642/Cherry_Cub
	almost pure		#fffcfc
	Linen			#f0dfab
	Cold Coffee		#c98a3b
	Sour Cherry		#f10879
	Golden Crumb	#e0a421
	Color Lover		#eeeef0
*/

body {
	background-color: #FFFCFC;
	font-family: Verdana, Helvetica, Arial;
	font-size: 14px;
	margin:0;
	color:#444444;
}

a img {
  border: none;
}

a {
  color: #E0A421;
}

a:hover {
  color: #F10879;
}

.clear {
  height: 0;
  overflow: hidden;
}

.margin_top {
	margin-top:20px;
}

.margin_top_small {
	margin-top:4px;
}

.margin_left {
	margin-left:20px;
}

.margin_left_large {
	margin-left:40px;
}

.inline {
	display:inline;
}

p.default {
	margin:1em 0;
}

div.default {
	margin:1em 0;
}

.clear_both {
	clear:both;
}

.text_width {
	width:480px;
	margin-bottom:10px;
}

img.info {
	cursor:pointer;
}

/* ERROR STYLES */

#flash_notice, #flash_error {
	padding: 5px 8px;
	margin-bottom:20px;
	background-color: #eeeef0;
	color:#444444;
}

#flash_notice {
	border: solid 2px #444444;
}

#flash_error {
	border: solid 2px #f10879;
}

.fieldWithErrors {
	clear:both;
}

#errorExplanation {
	width: 476px;
	border: 2px solid #CF0000;
	padding: 0px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	margin-top: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 10px;
	font-size: 12px;
	margin: 0;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 8px;
}

#errorExplanation ul {
	margin: 2px 24px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: disc;
}

/* HEADER STYLES */

.header_container {
	height:100px;
	background-color: #FFFCFC;
}

.header {
	margin:10px 0 10px 0;
	width:1000px;
	height:100px;
	background-image:url("/images/header.png");
	background-repeat:no-repeat;
	background-position:250px 0px;
	background-color: #FFFCFC;
}

.header img {
	margin-left:45px;
	float:left;
}

/* Samplerate slide */

#map_canvas {
	width:740px;
	height:430px;
}

#sample_rate_slide {
	width:740px;
	background-color:#bec1c5;
	height:15px;
}

#sample_rate_handle {
	width:30px;
	height:15px;
	background-color:#F10879;
	cursor:move;
}

/* FORM STYLES */

fieldset {
	margin:15px 0px 0px;
	border:1px solid black;
}

input[type="text"], input[type="password"], textarea {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid black;
	font-family:arial,sans-serif;
	font-size:18px;
	padding:2px 2px 2px 2px;
	margin-top:2px;
}

textarea {
	resize:none;
}

#new_race p, .edit_race p{
	margin-right: 10px;
}

.fieldWithErrors input, .fieldWithErrors textarea{
	border-color:red;
	border-width:2px;
}

.fieldWithErrors select {
	border:2px solid red;
}

.fields {
	border-bottom:1px solid #cccccc;
	padding-bottom:10px;
}

fieldset {
	border:1px solid #cccccc;
	margin-bottom:10px;
}

/* OPENID LOGIN*/
#openid_url {
	background-image:url("/images/icons/open_id.png");
	background-position:4px 4px;
	background-repeat:no-repeat;
	padding:2px 2px 2px 23px;
}

/*FORM STYLES END*/


/* TABLES */
table {
	margin:5px 0px 5px 0px;
	border-collapse:collapse;
	width:100%;
}

tbody {
	width:100%;
}

table tbody tr.odd {
	background-color:#F0DFAB;
}

table tbody tr.odd a{
	color:#444444;
}

table tbody tr.even {
	background-color:white;
}

table tbody tr.even a{
	color:#444444;
}

table td, table th {
	margin:0px;
	padding:3px 10px;
}

th {
	text-align:left;
}

td.records {
	width:60px;
}

/* LISTS */
ul {
	margin:5px 0px;
}

/* MODALBX CONTENT */
.modalbox_content {
	padding:0px;
	margin:0px;
	display:none;
}

#MB_content > .modalbox_content {
	display:block;
}

/* INDIVIDUAL STYLES */
.race {
	float:left;
}

.new_comment_box, .edit_comment_box {
	padding:10px;
}

form.comment > #errorExplanation {
  width: 300px;
}

.personal_bests h3 {
	margin-top:20px;
}

.new_comment_box, .edit_comment_box {
	background-image:url("/images/transparent/trans_black_06.png");
}

/* COMMENTS */
.comment_entry {
	float:left;
	clear:both;
	border-top:1px solid black;
	margin:3px 0px;
}

.comments {
	margin-left:20px;
}

.comments_container {
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	border:1px solid #cccccc;
}

.comments_container > .comments {
	margin-left:0px;
}

.view_comment_form {
	color:blue;
	text-decoration:underline;
	cursor:pointer;
}

p.comment_updated {
	font-style:italic;
	font-size:10px;
}

/* PAGES STYLES */

.page p {
	padding:5px 0px;
}

/* FOOTER STYLES */
.footer {
	float:left;
	width:1000px;
	text-align:center;
	border-top:1px solid #F10879;
	padding-top:15px;
	margin-top:20px;
}

.footer ul {
	padding:0px;
	list-style:none;
}

.footer ul li {
	display:inline;
	color:#F10879;
}

/* ADMIN STYLES */

#admin_menu {
	background-image:url("/images/transparent/trans_black_06.png");
	padding:10px;
	width: 980px;
	margin: 0 auto;
	color:white;
}

#admin_menu a{
	color:white;
}

#admin_menu ul{
	list-style:none;
}

#admin_menu ul li{
	display:inline;
}

/* TABLE CELLS */
td.record {
	width:42px;
}

td.edit {
	width:62px;
}

td.destroy {
	width:5px;
}

/* AREA NAVIGATION */
.area_navigation > .area_select {
	float:left;
}

div.track_statistics th {
	text-align:left;
}

/* MENU_NODES STYLE */
.menu_nodes .child {
	padding-left:30px;
}

div.fields.hidden {
	display:none;
}