h1, h2, h3, h4, h5, h6 {
	margin:0px 0px;
}

p {
	margin:4px 0px;
}

.small {
	font-size:12px;
}

.xsmall {
	font-size:10px;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.align_left {
	text-align:left;
}

.align_right {
	text-align:right;
}

.font_color {
	color:#444444;
}