#MB_overlay {
	position: absolute;
	margin: auto;
	top: 0;	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	border: 0;
	background-color: #000!important;
}
#MB_overlay[id] { position: fixed; }

#MB_window {
	position: absolute;
	top: 0;
	border: 0 solid;
	text-align: left;
	z-index: 10000;
}
#MB_window[id] { position: fixed !important; }

#MB_frame {
	position: relative;
	height: 100%;
}

#MB_content {
	position: relative;
	overflow: auto;
}

#MB_loading {
	padding: 1.5em;
	text-indent: -10000px;
	background: transparent url(/images/ajax-loader(2).gif) 50% 0 no-repeat;
}

/* Alert message */
.MB_alert {
	margin: 10px 0;
	text-align: center;
}