#container {
	width: 1000px;
	margin: 0 auto;
	background-color: #FFF;
	border: solid 1px black;
	margin-top: 20px;
	overflow: auto;
	padding-bottom:20px;
}

.large_width, .medium_width, .small_width {	
	margin-left:20px;
	margin-top:20px;
	float:left;
}
.large_width {
	width:960px;
}

.medium_width {
	width:650px;
}

.small_width {
	width:290px;
}

.width_200 {
	width:200px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear_both {
	clear: both;
}

.clear_right {
	clear: right;
}

.clear_left {
	clear: left;
}

.border_top {
	margin-top:10px;
	border-top:1px solid #cccccc;
}