/* COLORS
	http://www.colourlovers.com/palette/144642/Cherry_Cub
	almost pure		#fffcfc
	Linen			#f0dfab
	Cold Coffee		#c98a3b
	Sour Cherry		#f10879
	Golden Crumb	#e0a421
	Color Lover		#eeeef0
*/

.side_module ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
}

.left_side {
	margin-left:0px;
}

.side_module {
	background-image:url("/images/backgrounds/side_module_background.png");
	background-repeat:no-repeat;
	background-color: white;
	
	padding:10px 10px 0px 10px;
	margin-bottom:20px;
}

.side_module div.bottom {
	height:17px;
	margin-left:-10px;
	margin-right:-10px;
	background-image:url("/images/backgrounds/side_module_background_bottom.png");
	background-repeat:no-repeat;
	background-color:white;
}

.side_module ul li {
	margin-bottom:3px;
}

.side_module a:hover{
	color:#F10879;
}

.side_module h3 {
	color: #E0A421;
	/*color:#C98A3B;*/
	margin-bottom:2px;
}

.side_module h5 {
	font-size:0.93em;
	margin-bottom:4px;
}

.side_module td {
	margin:0px;
	padding:2px;
}

.side_module.local_tracks h3 {
	display:inline;
}

.side_module ul.last_races li {
	border-bottom:1px solid #d1d1d8;
	padding-bottom:4px;
	margin-bottom:4px;
}