<p>
	<span class="bold">Total distance:</span><br />
	<%= statistics.total_distance(from, to) %> km
</p>
<p>
	<span class="bold">Total time:</span><br />
	<%= display_readable_time statistics.total_time(from, to) %>
</p>