<p class="small">
	<span class="bold"><%= t("users.show.total_distance") %>:</span><br />
	<%= statistics.distance(from, to) %> km
</p>
<p class="small">
	<span class="bold"><%= t("users.show.total_time") %>:</span><br />
	<%= display_readable_time statistics.time(from, to) %>
</p>