<% title t("sign_up.sign_up_as_member") %>
<% main_class "small_width" %>

<% content_for :left_side do %>
	<%= render "side_modules/recent_records", :tab_service => @recent_records_tab_service, :title => t("side_modules.recent_records") %>
<% end %>

<h2><%= t("sign_up.sign_up_as_member") %></h2>
<% @user.password = @user.password_confirmation = nil %>

<%= render "form", :submit => t("sign_up.sign_up") %>

<% content_for :right_side do %>
	<%= render "side_modules/local_tracks", :area => @area %>
<% end %>
