<div class="side_module beta">
	<h1 class="left">Big Time</h1><img src="/images/beta.png" class="left" width="80" height="40" alt="Beta">
	<p class="small left clear_both">Tänkte att <span class="bold">Come And Get Me</span> skulle bli klart till <a href="http://www.premiarmilen.se">Premiärmilen</a> men det blev med nöd och näppe någorlunda klart så ni får ha överseende med en del grejer =)</p>
</div>