<div class="side_module">
	<h5><%= title %></h5>
	<p class="small">
		<% recent_records.each do |record| %>
			<%= link_to record.time.strftime("%H:%M:%S"), race_path(record) unless record.time.blank? %>, <%= truncate(record.track.title,:length => 25) unless record.track.blank? %><br />
		<% end %>
	</p>
	<div class="bottom"></div>
</div>