$(function() {
	$("a.view_all_tracks").click(function(event) {
		$(this).parent().children("select").html('<%= escape_javascript(options_from_collection_for_select(@tracks, :id, :title)) %>');
		$(this).parent().children("select").prepend('<option><%= t("trainings.edit.all_tracks") %></option>');
		$(this).remove();
		event.preventDefault();
	});
});