<% title "Edit Page" %>
<% main_class "small_width" %>

<% if params[:preview_button] %>
	<div class="border_bottom">
		<%= render_html_content @page %>
	</div>
<% end %>

<div class="clear_both margin_top">
	<%= render :partial => 'form' %>
</div>

<p>
  <%= link_to "Show", @page %> |
  <%= link_to "View All", pages_path %>
</p>
