.trainings_show table tr td.race_note {
	cursor:pointer;
}

.trainings_show table tr td.race_note div {
	position:relative;
}


.trainings_show table tr td.race_note p.race_note {
	padding:10px;
	border:1px solid #444444;
	background-color:#eeeef0;
	position:absolute;
	width:150px;
	top:2px;
	right:-5px;
	display:none;
}

.trainings_show table tr td.race_note:hover p.race_note {
	display:block;
} 