<div class="large_width footer">
	<ul>
		<li><%= link_to "About Us", static_path(:about) %> |</li>
		<li><%= link_to "Contact Us", static_path(:contact) %> |</li>
		<li><%= link_to "Privacy", static_path(:privacy) %></li>
	</ul>
</div>