<% content_tag :div, :class => "menu_container" do %>
	
	<% content_tag :ul, :id => "menu" do %>
		<% menu_roots.each do |menu_node| %>
			<li><%= link_to menu_node.title, menu_node.url %></li>
		<% end %>
	<% end %>
	
<% end %>