#user_track_statistics_chart {
	width:1000px;
	height:400px;
}

#slider {
	margin: 0 10px;
	background: #eeeef0;
	border:1px solid #444444;
}

#slider div {
	background: #f10879;
}

#slider a {
	background: #E0A421;
	border: none;
}

#slider a:hover {
	background: #444444;
	border: none;
}